body * {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    text-align: center; 
}

h2 {
    font-weight: 700;
    text-align: center; 
    color: #ffffff;
}

p {
    text-align: center; 
}

body {
    background-color: white;
}

.page {
    max-width: 1400px;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    width: 100%;
    justify-items: center;
    align-items: start;
}

.vis-container {
    width: 80%; 
    height: 400px; 
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: left; 
}

.black-summer-section {
    background-color: #FF8C42;
    color: white;
    padding: 20px 10px 100px;
    width: 100%;
    margin-top: 40px;
    border-radius: 8px;
    min-height: 400px;
}

.black-summer-section p {
    color: #ffffff;
    text-align: center;
}

#vis4 {
    margin-right: 20px;
}

#text4 {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: left;
    padding: 20px; 
}

.impact-section {
    background-color: #f7ead2; 
    color: black; 
    padding: 20px 10px 100px;
    width: 100%;
    margin-top: 40px;
    border-radius: 8px;
    min-height: 400px;
}

.impact-section h2 {
    color: black;
}

.impact-section p {
    color: black;
    text-align: center;
}

.new-container {
    background-color: gray; 
    color: white; 
    padding: 20px 10px 100px; 
    width: 100%;
    margin-top: 40px;
    border-radius: 8px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
    
    .vis-container {
        width: 90%; 
    }
}
